*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    height: 1000px;
    background-image: url(img/header/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.header-menu-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-block-burger{
    display: block;
    position: relative;
    width: 20px;
    height: 12px;
}

.header-menu-block-burger-line{
    position: absolute;
    height: 2px;
    background-color: #000;
    width: 100%;
}

.header-menu-block-burger-line:nth-child(1){
    top: 0;
}

.header-menu-block-burger-line:nth-child(2){
    top: 5px;
}

.header-menu-block-burger-line:nth-child(3){
    bottom: 0;
}

.header-menu-block .active .header-menu-block-burger-line:nth-child(2){
    display: none;
}

.header-menu-block .active .header-menu-block-burger-line:nth-child(1){
    top: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

.header-menu-block .active .header-menu-block-burger-line:nth-child(3){
    top: 5px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
}

.header-menu-block-item{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
}

.header-menu-logo{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header-menu-logo-color{
    font-weight: bolder;
}

.header-menu-info{
    display: flex;
    align-items: center;
}

.header-menu-info-item{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-right: 30px;
}

.header-menu-info-item-color{
    color:#9f9fa1;
}

.header-menu-info-btn{
    display: flex;
    align-items: center;
    background-color:#267df4;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.header-menu-info-btn-icon{
    padding-right: 10px;
}

.header-menu-info-btn-text{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header-menu-info-btn:hover{
    background-color:brown;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.header-menu-info-btn.header-menu-info-btn-icon:hover{
    background-color: #000;
}